In [38]:
# Dependencies and Setup
import pandas as pd
import os
import csv

In [39]:
# Set dataset path
orig_data_path = "OrigDataset/Wellbeing_and_lifestyle_data_Kaggle.csv"

In [40]:
# Read in the dataset
orig_data = pd.read_csv(orig_data_path)

# Display 
orig_data.head()

,Timestamp,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,...,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,WEEKLY_MEDITATION,AGE,GENDER,WORK_LIFE_BALANCE_SCORE
0,7/7/2015,3,2,2,5,0,5,2,0,1,...,7,5,5,1,4,0,5,36 to 50,Female,609.5
1,7/7/2015,2,3,4,3,8,10,5,2,2,...,8,2,2,2,3,2,6,36 to 50,Female,655.6
2,7/7/2015,2,3,3,4,4,10,3,2,2,...,8,10,2,2,4,8,3,36 to 50,Female,631.6
3,7/7/2015,3,3,10,3,10,7,2,5,2,...,5,7,5,1,5,2,0,51 or more,Female,622.7
4,7/7/2015,5,1,3,3,10,4,2,4,2,...,7,0,0,2,8,1,5,51 or more,Female,663.9

In [41]:
# Convert Timestamp column to datetime for consistent formatting
orig_data['Timestamp'] = pd.to_datetime(orig_data['Timestamp'])

In [48]:
# Drop rows with timestamps prior to March 2019
clean_data = orig_data[orig_data['Timestamp']  >= '2019-03-01 00:00:00']

# Create new dataframe for the clean dataset
clean_data_df = pd.DataFrame(clean_data)
clean_data_df

,Timestamp,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,...,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,WEEKLY_MEDITATION,AGE,GENDER,WORK_LIFE_BALANCE_SCORE
10424,2019-03-01 04:17:00,3,0,10,10,9,10,7,3,2,...,8,0,2,1,6,3,10,Less than 20,Female,699.1
10425,2019-03-02 22:26:00,2,3,7,7,1,5,4,0,2,...,7,4,0,2,10,1,4,51 or more,Female,636.3
10426,2019-03-03 03:06:00,5,2,5,3,4,3,4,0,1,...,3,0,3,2,5,5,10,36 to 50,Female,676.5
10427,2019-03-03 12:20:00,1,5,6,5,10,4,2,4,1,...,6,6,2,1,6,1,7,36 to 50,Female,631.4
10428,2019-03-04 00:48:00,2,4,10,3,3,1,1,4,1,...,9,10,2,1,1,1,5,21 to 35,Female,600.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15967,2021-03-14 05:42:00,3,3,0,4,0,10,0,4,2,...,7,0,1,1,5,2,5,51 or more,Female,644.5
15968,2021-03-14 06:30:00,3,3,6,8,7,4,6,3,1,...,6,0,0,2,10,5,8,21 to 35,Female,714.9
15969,2021-03-14 08:35:00,4,3,0,10,10,8,6,5,1,...,7,0,1,2,10,1,10,21 to 35,Male,716.6
15970,2021-03-14 08:43:00,1,1,10,8,2,7,3,2,1,...,8,7,2,2,1,6,8,21 to 35,Female,682.0
15971,2021-03-14 09:03:00,5,4,0,2,10,10,5,1,2,...,8,5,2,2,1,8,4,21 to 35,Female,651.4

In [49]:
# Reassign Timestamp as the index to drop the row count column
clean_data_df.set_index('Timestamp', inplace=True)
clean_data_df

,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,TODO_COMPLETED,...,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,WEEKLY_MEDITATION,AGE,GENDER,WORK_LIFE_BALANCE_SCORE
Timestamp,,,,,,,,,,,,,,,,,,,,,
2019-03-01 04:17:00,3,0,10,10,9,10,7,3,2,0,...,8,0,2,1,6,3,10,Less than 20,Female,699.1
2019-03-02 22:26:00,2,3,7,7,1,5,4,0,2,6,...,7,4,0,2,10,1,4,51 or more,Female,636.3
2019-03-03 03:06:00,5,2,5,3,4,3,4,0,1,5,...,3,0,3,2,5,5,10,36 to 50,Female,676.5
2019-03-03 12:20:00,1,5,6,5,10,4,2,4,1,3,...,6,6,2,1,6,1,7,36 to 50,Female,631.4
2019-03-04 00:48:00,2,4,10,3,3,1,1,4,1,2,...,9,10,2,1,1,1,5,21 to 35,Female,600.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-14 05:42:00,3,3,0,4,0,10,0,4,2,8,...,7,0,1,1,5,2,5,51 or more,Female,644.5
2021-03-14 06:30:00,3,3,6,8,7,4,6,3,1,7,...,6,0,0,2,10,5,8,21 to 35,Female,714.9
2021-03-14 08:35:00,4,3,0,10,10,8,6,5,1,7,...,7,0,1,2,10,1,10,21 to 35,Male,716.6
2021-03-14 08:43:00,1,1,10,8,2,7,3,2,1,6,...,8,7,2,2,1,6,8,21 to 35,Female,682.0
2021-03-14 09:03:00,5,4,0,2,10,10,5,1,2,7,...,8,5,2,2,1,8,4,21 to 35,Female,651.4

In [50]:
# Save cleaned dataset to CSV 
clean_data_df.to_csv(r'CleanDataset\clean_data.csv')